/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Pacifico|Rubik');

* {
  padding: 0;
  margin: 0;
}

html { 
  font-size: 62.5%; 
} 

body { 
  font-size: 1.4rem; 
  font-family: 'Rubik', sans-serif;
} 

h1 { 
  font-size: 2.4rem; 
  font-family: 'Pacifico', cursive;
}
